body, section {
  padding-top: 90px; /* to make the container go all the way to the bottom of the topbar */
}
.subheader h1 {
  margin-bottom: 9px;
  font-size: 54px;
  line-height: 1;
}
.temporary {
  color: #bbb;
}
.progressIcon {
  background: url("../img/ajax-loader.gif") no-repeat;
  vertical-align: text-top;
  display: inline-block;
  line-height: 16px;
  height: 16px;
  width: 16px;
}
td small {
  font-size: 10px;
  margin-left: 2px;
}
.dn {
  display: none;
}
.green {
  color: green;
}
.red {
  color: red;
}
